<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.benjgorman.pharostest"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/CustomTheme" android:debuggable="true">
    
        <activity android:name=".tablayout.TabBar"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity android:name=".tabs.HelpTab"
                  android:label="Help Tab">
            
        </activity>
        
        <activity android:name=".activities.TrackingHistory"
                  android:label="Tracking History">
            
        </activity>
        	
        <activity android:name=".tabs.ServicesTab"
                  android:label="Services Tab">
            
        </activity>
        
        <activity android:name=".tabs.HistoryTab"
                  android:label="History Tab">
           
        </activity>
        
        <activity android:name=".tabs.TrackingTab"
                  android:label="Tracking Tab">
            
        </activity>
        
        <activity android:name=".activites.VoiceRecognitionDemo"
                  android:label="VoiceRecognitionDemo">
            
        </activity>
        
        <activity android:name=".tabs.PackagesTab"
                  android:label="Packages Tab">
            
        </activity>

        <activity android:name=".OnMyItemSelectedListener"
                  android:label="OnMyItemSelectedListener">
            
        </activity>
        
        <activity android:name=".activites.GetQuoteActivity"
                  android:label="GetQuoteActivity">
            
        </activity>

        <activity android:name=".activites.SendParcel1"
                  android:label="SendParcel1">
            
        </activity>
        
        <activity android:name=".activites.TrackingResult"
                  android:label="TrackingResult">
            
        </activity>


    </application>
</manifest>